/* .App {
  text-align: center;
}

*/

.removeButton {
  position: absolute;
  margin-top: 1rem;
  z-index: 3;
  margin-left: 14rem;
  background: red;
  font-size: small;
  padding: 0.2rem 0.5rem;
  border-radius: 100px;
  cursor: pointer;
}

.cardShadow {
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px black;
}
